* {
  margin: 0;
  padding:0;}

.main{
  width: 100%;
  height: auto;
}
body {
  background: #F0F0F0; }

nav {
  background-color: #0abc77; }
  nav ul .userBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15cb84 !important;
    border-radius: 20px; }
    nav ul .userBar img {
      margin-right: 10px;
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 100%; }

.words{
  text-align: center;
  line-height: 100px;
}
h6 {
  line-height: 50px;
}
.divler {
  height: auto;
  width: 960px;
  margin: 0 auto;

}

.window {
 height: 300px;
 width: 150px;
}

.window:hover{
  border: 2px solid #0abc77;
}


