@charset "utf-8";
	.Skills_Box
{
	background-image : url(Skills_Box.png);
	background-repeat : no-repeat;
}
.Profile_Box
{
	background-image : url(Profile_Box.png);
	background-repeat : no-repeat;
}
.Employment_Box
{
	background-image : url(Employment_Box.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle2
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.x34_
{
	background : #3B97D2;
	background : rgba(59, 151, 210, 1);
}
.Profile_Fill
{
	background : #ECEFF0;
	background : rgba(236, 239, 240, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st0
{
	background : #BCC2C6;
	background : rgba(188, 194, 198, 1);
	opacity : 0.75;
	filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(opacity=75) ;
}
.Bottom_Stripe
{
	background : #2C3E50;
	background : rgba(44, 62, 80, 1);
}
.Bottom
{
	background : #BCC2C6;
	background : rgba(188, 194, 198, 1);
}
.x32_
{
	background : #3B97D2;
	background : rgba(59, 151, 210, 1);
}
.x31_
{
	background : #3B97D2;
	background : rgba(59, 151, 210, 1);
}
.Employment_Fill
{
	background : #ECEFF0;
	background : rgba(236, 239, 240, 1);
}
.NormalCharacterStyle
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Education_Fill
{
	background : #ECEFF0;
	background : rgba(236, 239, 240, 1);
}
.Skills_Fill
{
	background : #ECEFF0;
	background : rgba(236, 239, 240, 1);
}
.NormalCharacterStyle13
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : FontAwesome;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.x33_
{
	background : #3B97D2;
	background : rgba(59, 151, 210, 1);
}
.Education_Box
{
	background-image : url(Education_Box.png);
	background-repeat : no-repeat;
}
.Role
{
	background : #35495E;
	background : rgba(53, 73, 94, 1);
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.Picture_Holder
{
	background-image : url(Picture_Holder.png);
	background-repeat : no-repeat;
}
