body {
	background: #f0f0f0;
}
.card-panel{
	padding-bottom: 0 !important;
}
.card-action .btn{
	height: 45px;
	line-height: 45px;
	border-radius: 50px;
	border:1px solid #0abc77;
	background: #0abc77;
}
.card-action .btn:hover{
	background: #0abc77;
}
.date2 {
	margin-bottom:0 !important;
}
label[for=date2]{
	left:0 !important;
}
label[for=checkbox], label[for=checkbox1]{

    padding-left: 25px !important;
}