* {
  margin: 0;
  padding: 0; }

.verticalAlign {
  height: 30px; }

.mainWrapper {
  position: relative;
  height: 800px;
  background: linear-gradient(rgba(10, 188, 119, 0.85), rgba(10, 188, 119, 0.85)), url(../images/background.jpg);
  background-size: cover;
  background-position: center; }
  .mainWrapper .imgResume {
    position: absolute !important;
    bottom: 0px !important;
    margin-bottom: 0px !important;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
    margin: 0 !important; }

.transparent {
  box-shadow: none; }
  .transparent ul a {
    border: 1px solid white;
    border-radius: 20px; }

.mainMiddle {
  text-align: center;
  color: white;
  text-transform: uppercase; }
  .mainMiddle .createStart {
    height: 60px;
    line-height: 60px;
    background-color: #274171;
    border-radius: 50px;
    text-align: center; }

.footer {
  height: 160px;
  background-color: #f9f9f9; }

.counter {
  font-size: 30px; }

.counter span span {
  font-size: 15px;
  color: gray; }

.footerWrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.footerWrapper li {
  padding: 2px 10px;
  display: inline-block; }

nav {
  background-color: #0abc77; }
  nav ul .userBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15cb84 !important;
    border-radius: 20px; }
    nav ul .userBar img {
      margin-right: 10px;
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 100%; }

head, body {
  background: #F0F0F0; }

.templateLightColor {
  background: #F3F3F3  !important; }

.template-text {
  color: #ABABAB; }

.btn {
  width: 100%;
  margin-bottom: 2px; }

.btn-text {
  font-size: 7px !important; }

.ball {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0; }

.pagination li {
  width: 30px !important; }

.languages .tiny, .skills .tiny, .awards .tiny {
  margin: 2px;
  width: 13px; }

blockquote {
  border-left: 5px solid grey !important; }
.template{
  height: 500px;
  background-color: white;
  transition: all 0.1s linear;
}
.template:hover{
  box-shadow: 0 0 30px 0 #0abc77;
}
/*# sourceMappingURL=style.css.map */
head,body{
  background: #F0F0F0;
}
.templateLightColor {
  background: #F3F3F3  !important;
}
.template-text{
  color:#ABABAB;
}
.btn{
  width: 100%;
  margin-bottom: 2px;
}
.btn-text{
  font-size: 7px !important;
}
.ball{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0;

}
.pagination li{
  width: 30px !important;
}
.languages .tiny,.skills .tiny,.awards .tiny{
  margin:2px;
  width: 13px;
}
blockquote{
  border-left: 5px solid grey !important;
}
.fieldset{
  display: none;
  position: absolute;
  right: 7% !important;
}
fieldset{
  min-height: 60px !important;
  border: 3px solid #FFFFFF !important;
  margin: 0!important;
  margin-left: -3px !important;
  margin-top: 15px !important;
  padding-top: 10px !important;
}
fieldset:hover .fieldset{
  display: block !important;
}
fieldset:hover{
  border:3px solid #009688 !important;
  border-radius:10px ;
}
.showField{
  border:3px solid #009688 !important;
  border-radius:10px ;
}

.fieldset li{
  display: inline-block !important;
}
#popBack{
  width: 100%;
  height: 100%;
  background-color: #282828;
  opacity: .5;
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  display: none;
}

#education_content{
display: none;
width: auto;
height: auto;
position: absolute;
left:50%;
transform: translateX(-50%);
z-index: 9999;
position: fixed;
}
#work_content{
display: none;
width: auto;
height: auto;
position: absolute;
left:50%;
transform: translateX(-50%);
z-index: 9999;
position: fixed;
}
#loginPage{
display: none;
width: auto;
height: auto;
position: absolute;
left:50%;
transform: translateX(-50%);
z-index: 9999;
position: fixed;
}
#registerPage{
display: none;
width: 500px;
height: auto;
position: absolute;
left:50%;
transform: translateX(-50%);
z-index: 9999;
position: fixed;
}
.card-panel{
  padding-bottom: 0 !important;
}
.card-action .btn{
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  border:1px solid #0abc77;
  background: #0abc77;
}
.card-action .btn:hover{
  background: #0abc77;
}
.date2 {
  margin-bottom:0 !important;
}
label[for=date2]{
  left:0 !important;
}
label[for=checkbox], label[for=checkbox1]{

    padding-left: 25px !important;
}
.form-horizontal{
  background-color: white !important;
  padding: 15px 25px;
  margin-top: 90px;
}
.logoutButton{
  line-height: 40px !important;
}
#eduEdit:hover  .innerEdit{
  display: block;
}
#workEdit:hover  .innerEditWork{
  display: block;
}
.contactEdit:hover .innerEditContact{
  display: block;
}
.languageRow:hover .innerEditContact{
  display: block;
}
.skillsRow:hover .innerEditContact{
  display: block;
}
.awardsRow:hover .innerEditContact{
  display: block;
}
.contactRow:hover .innerEditContact{
  display: block;
}
#Pdata:hover .innerEditPData{
  display: block;
}
.innerEdit, .innerEditWork, .innerEditPData, .innerEditContact{
  margin-top: 21px;
  width: auto;
  height: 15px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  right: 7%;
  color: red;
  display: none;
  font-size: 10px;
}
.innerEditContact{
  right: 0% !important;
  margin: 0 !important;
  font-size: 5px !important;
  padding-bottom: 20px;
  z-index: 999;
}
.innerEditContact i{
  margin-right: 5px !important;
  font-size: 25px !important;
}
.addIcon{
  color: green !important;
}
.innerEditPData i{
  font-size: 40px !important;
}
.innerIcons{
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 100%;
}
.edit{
  color: orange;
}
.eduEdit, .workEdit, .pDataEdit, .editPhonePop, .addPhonePop, .editEmailPop, .addEmailPop, .addSocialPop, .editSocialPop, .addAdressPop, .editAdressPop,.addLanguagePop,.editLanguagePop,.addSkillsPop,.editSkillsPop,.addAwardsPop,.editAwardsPop{
  display: none;
width: auto;
height: auto;
position: absolute;
left:50%;
transform: translateX(-50%);
z-index: 9999;
position: fixed;
}
#languageHead:hover .addLanguage{
  display: inline;
}
#skillsHead:hover .addSkills{
  display: inline;
}
#awardsHead:hover .addAwards{
  display: inline;
}
#contactHead:hover .addPhone{
  display: inline;
}

.addLanguage, .addSkills, .addAwards, .addPhone{
  margin: 0 !important;
  padding: 0 !important;
  display: none;
  font-size: 22px !important;
  cursor: pointer;
  margin-top: 2px;
}
.levelHolder{
  position: absolute;
  right: 8%;
}
select{
  display: block !important;
}
.contactIcon{
  color: #3A3A3A;
}
.innerIcons{
  border-radius: 100%;
  padding: 3px !important;
  background-color: rgba(240, 240, 240, 0.9);

}
.noShadow{
  box-shadow: none !important;
}