head,body{
	background: #F0F0F0;
}
.templateLightColor {
	background: #F3F3F3  !important;
}
.template-text{
	color:#ABABAB;
}
.btn{
	width: 100%;
	margin-bottom: 2px;
}
.btn-text{
	font-size: 7px !important;
}
.ball{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin: 0;

}
.pagination li{
	width: 30px !important;
}
.languages .tiny,.skills .tiny,.awards .tiny{
	margin:2px;
	width: 13px;
}
blockquote{
	border-left: 5px solid grey !important;
}
.editBorder{
	border:3px solid #009688 !important;
	border-radius:10px !important;
}

legend{
	display: none;

}
fieldset{
	border:1px solid #FFFFFF !important;
}
.fieldset{
	display: inline;
	list-style-type: none;
}
fieldset {
    display: block;
    -webkit-margin-start: 2px !important;
    -webkit-margin-end: 2px !important;
    -webkit-padding-before: 0em !important;
    -webkit-padding-start: 0em !important;
    -webkit-padding-end: 0em !important;
    -webkit-padding-after: 0em !important;
    min-width: -webkit-min-content;
    border: 2px groove threedface;
}